<h2>Hola desde calzado componente</h2>

<div class="col-md-4 offset-md-1">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="categoria" placeholder="Categoria" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="marca" placeholder="Marca" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="precio" placeholder="Precio" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="stock" placeholder="Stock" class="form-control" autofocus>
                </div>

                <button class="btn btn-success btn-block">Save</button>
            </form>
        </div>
    </div>
</div>



<table mat-table class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->


    <!-- Name Column -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{calzado[0].marca}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="marca">
        <th mat-header-cell> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
        <th mat-header-cell> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="stock">
        <th mat-header-cell> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


</table>